.highlighted-date {
  background-color: red !important;
  color: white !important;
  border-radius: 50% !important;
}

.form-control-date {
  width: 26rem !important;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid rgb(201, 197, 197);
}

/* =========== ui issue for tabel */
.vertical-lines th,
.vertical-lines td {
  border-left: 2px solid #dee2e6;
  border-right: 2px solid #dee2e6;
  border-top: 2px solid #dee2e6; /* Horizontal lines - top */
  border-bottom: 2px solid #dee2e6; /* Horizontal lines - bottom */
}

/* Collapse borders for clean look */
.vertical-lines {
  border-collapse: collapse;
  background-color: #f9f9f9; /* Table background color */
}

/* Header styling */
.vertical-lines thead {
  background-color: #a00e0e; /* Dark header color */
  color: rgb(0, 0, 0);
}

/* .highlighted-date {
  color: #ccc !important;
  background-color: #f8f9fa !important;
  cursor: not-allowed !important;
} */

.react-datepicker__day--highlighted {
  color: #ccc !important;
  background-color: #f8f9fa !important;
  cursor: not-allowed !important;
}


.date-form-control{
  width: 62rem;
}